{"openapi":"3.0.0","info":{"title":"Translation API","version":"","contact":{"name":"Issues","url":"https://github.com/demosjarco/translate/issues"},"description":"Drop in replacement for Google Cloud Translate API v2 using Workers AI","license":{"name":"MIT","url":"https://opensource.org/licenses/MIT"},"termsOfService":"https://github.com/demosjarco/translate/blob/main/TERMS.md"},"servers":[{"url":"https://translate.demosjarco.dev"}],"components":{"schemas":{"TranslateTextResponseList":{"type":"array","items":{"$ref":"#/components/schemas/TranslateTextResponseTranslation"},"description":"Contains list of translation results of the supplied text."},"TranslateTextResponseTranslation":{"type":"object","properties":{"detectedSourceLanguage":{"type":"string","minLength":1,"example":"en","description":"The source language of the initial request, detected automatically, if no source language was passed within the initial request. If the source language was passed, auto-detection of the language will not occur and this field will be omitted."},"model":{"type":"string","enum":["@cf/zai-org/glm-5.2","@cf/zai-org/glm-4.7-flash","@cf/google/gemma-4-26b-a4b-it","@cf/openai/gpt-oss-120b"],"description":"The translation model used for the request."},"translatedText":{"type":"string","minLength":1,"description":"Text translated into the target language."}},"required":["model","translatedText"]},"DetectLanguageResponseList":{"type":"array","items":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","description":"The detected language."},"isReliable":{"type":"boolean","deprecated":true,"description":"Indicates whether the language detection result is reliable."},"confidence":{"type":"number","minimum":0,"maximum":1,"deprecated":true,"description":"The confidence of the detection result for this language."}},"required":["language","isReliable","confidence"]}},"description":"Language detection results for each input text piece."},"GetSupportedLanguagesResponseList":{"type":"array","items":{"$ref":"#/components/schemas/GetSupportedLanguagesResponseLanguage"},"description":"The set of supported languages."},"GetSupportedLanguagesResponseLanguage":{"type":"object","properties":{"language":{"type":"string","description":"Supported language code, generally consisting of its ISO 639-1 identifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including language + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')"},"name":{"type":"string","description":"Human readable name of the language localized to the target language."}},"required":["language"]}},"parameters":{}},"paths":{"/language/translate/v2":{"post":{"description":"Translates input text, returning translated text.","parameters":[{"schema":{"type":"array","items":{"type":"string","minLength":1},"minItems":1,"maxItems":128,"description":"The input text to translate. Provide an array of strings to translate multiple phrases."},"required":true,"description":"The input text to translate. Provide an array of strings to translate multiple phrases.","name":"q","in":"query"},{"schema":{"type":"string","minLength":1,"example":"en","description":"The language to use for translation of the input text."},"required":true,"description":"The language to use for translation of the input text.","name":"target","in":"query"},{"schema":{"type":"string","enum":["text"],"default":"text","description":"The format of the source text, in either HTML (default) or plain-text. A value of `html` indicates HTML and a value of `text` indicates plain-text"},"required":false,"description":"The format of the source text, in either HTML (default) or plain-text. A value of `html` indicates HTML and a value of `text` indicates plain-text","name":"format","in":"query"},{"schema":{"type":"string","minLength":1,"example":"en","description":"The language of the source text. If the source language is not specified, the API will attempt to detect the source language automatically and return it within the response."},"required":false,"description":"The language of the source text. If the source language is not specified, the API will attempt to detect the source language automatically and return it within the response.","name":"source","in":"query"},{"schema":{"type":"string","enum":["@cf/zai-org/glm-5.2","@cf/zai-org/glm-4.7-flash","@cf/google/gemma-4-26b-a4b-it","@cf/openai/gpt-oss-120b"],"default":"@cf/zai-org/glm-4.7-flash","description":"The Workers AI model to translate with. Defaults to the gateway-configured model."},"required":false,"description":"The Workers AI model to translate with. Defaults to the gateway-configured model.","name":"model","in":"query"}],"responses":{"200":{"description":"Successful translation.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"translations":{"$ref":"#/components/schemas/TranslateTextResponseList"}},"required":["translations"],"description":"The list of language translation responses. This list contains a language translation response for each query (q) sent in the language translation request."}},"required":["data"]}}}},"400":{"description":"The request was malformed or requested an unsupported feature.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"},"extensions":{"type":"object","properties":{"code":{"type":"number"}},"required":["code"]}},"required":["message","extensions"]}}},"required":["success","errors"]}}}}}}},"/language/translate/v2/detect":{"post":{"description":"Detects the language of text within a request.","parameters":[{"schema":{"type":"array","items":{"type":"string"},"minItems":1,"description":"The input text upon which to perform language detection. Repeat this parameter to perform language detection on multiple text inputs."},"required":true,"description":"The input text upon which to perform language detection. Repeat this parameter to perform language detection on multiple text inputs.","name":"q","in":"query"}],"responses":{"200":{"description":"Successful language detection.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"detections":{"$ref":"#/components/schemas/DetectLanguageResponseList"}},"required":["detections"],"description":"The list of language detection responses. This list will contain a language detection response for each query (q) sent in the language detection request."}},"required":["data"]}}}}}}},"/language/translate/v2/languages":{"get":{"description":"Returns a list of supported languages for translation.","parameters":[{"schema":{"type":"string","minLength":1,"description":"The target language code for the results. If specified, then the language names are returned in the `name` field of the response, localized in the target language. If you do not supply a target language, then the `name` field is omitted from the response and only the language codes are returned."},"required":false,"description":"The target language code for the results. If specified, then the language names are returned in the `name` field of the response, localized in the target language. If you do not supply a target language, then the `name` field is omitted from the response and only the language codes are returned.","name":"target","in":"query"},{"schema":{"type":"string","enum":["@cf/zai-org/glm-5.2","@cf/zai-org/glm-4.7-flash","@cf/google/gemma-4-26b-a4b-it","@cf/openai/gpt-oss-120b"],"default":"@cf/zai-org/glm-4.7-flash","description":"The supported languages for a particular translation model."},"required":false,"description":"The supported languages for a particular translation model.","name":"model","in":"query"}],"responses":{"200":{"description":"The supported languages.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"languages":{"$ref":"#/components/schemas/GetSupportedLanguagesResponseList"}},"required":["languages"],"description":"A list of supported language responses. This list will contain an entry for each language supported by the Translation API."}},"required":["data"]}}}}}}}}}